In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df=pd.read_excel('KPMG_VI.xlsx', sheet_name='Transactions')

In [3]:
df.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [6]:
df.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [10]:
count_missing_trx=df.isnull().sum()
percent_missing_trx=round(df.isnull().sum()/len(df)*100,1)
missing_trx=pd.concat([count_missing_trx, percent_missing_trx], axis=1)
missing_trx.columns=['Missing(count)', 'Missing (%)']
missing_trx

                         Missing(count)  Missing (%)
transaction_id                        0          0.0
product_id                            0          0.0
customer_id                           0          0.0
transaction_date                      0          0.0
online_order                        360          1.8
order_status                          0          0.0
brand                               197          1.0
product_line                        197          1.0
product_class                       197          1.0
product_size                        197          1.0
list_price                            0          0.0
standard_cost                       197          1.0
product_first_sold_date             197          1.0

In [11]:
#fill the online_order column with mode
df['online_order']=df['online_order'].fillna(df['online_order'].mode()[0])

In [16]:
#checking our work to make sure missing values were replaced with mode
df.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order                 0
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [17]:
#Since we have same amount of missing values in 6 categories, we are going to go a head and drop them 
df.dropna(axis=0, inplace=True)

In [18]:
df.isnull().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [19]:
#now we are going to convert the product first sold date into int (from float64)
df['product_first_sold_date']= df['product_first_sold_date'].astype(int)

In [20]:
def convert_to_dateTime(num):
    dt=datetime.fromordinal(datetime(1900, 1 ,1).toordinal()+num-2)
    return dt

In [21]:
df['product_first_sold_date']=df['product_first_sold_date'].apply(convert_to_dateTime)
df.head(20)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10
5,6,25,2339,2017-03-08,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,2006-11-10
6,7,22,1542,2017-04-21,1.0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,1993-07-15
7,8,15,2459,2017-07-15,0.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,2009-04-12
8,9,67,1305,2017-08-10,0.0,Approved,Solex,Standard,medium,large,1071.23,380.74,1991-08-05
9,10,12,3262,2017-08-30,1.0,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,2004-08-17
10,11,5,1986,2017-01-17,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,2011-08-29
11,12,61,2783,2017-01-05,1.0,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,2015-06-17
12,13,35,1243,2017-02-26,1.0,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,1994-07-12
13,14,16,2717,2017-09-10,0.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,1994-09-09
14,15,12,247,2017-06-11,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2004-07-25
15,16,3,2961,2017-10-10,0.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2003-09-09
16,17,79,2426,2017-04-03,0.0,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,2004-08-07
17,18,33,1842,2017-06-02,0.0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,1992-10-11
18,19,54,2268,2017-04-06,1.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,2009-04-12
19,20,25,3002,2017-01-28,1.0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,2002-03-22

In [ ]:
# head() returns first 5 rows of the data set
df.head()

In [ ]:
# To return description of the data in the dataFrame, following populates from numerical data
# count - number of not-empty values, mean - the avg value, std - standart deviation,
# min- minimum value, 25-25% percentile, 50% or 75% max- maximum value
df.describe()

In [ ]:
df['product_first_sold_date'].value_counts()

In [ ]:
# Null values
df.isnull().sum()

In [ ]:
# return the column labels
df.columns

In [ ]:
df['online_order'].value_counts()

In [ ]:
df['order_status'].value_counts()

In [ ]:
df['brand'].value_counts()

In [ ]:
#  looking for sum of duplicate values
dupe=df.duplicated()
df[dupe].sum()

In [ ]:
# Now we will review second data set
df1=pd.read_excel('KPMG_VI.xlsx', sheet_name='NewCustomerList')

In [ ]:
df1.head()

In [ ]:
df1.info()

In [ ]:
# dropping columns that are 'Unnamed'
cols= ['Unnamed: 16','Unnamed: 17','Unnamed: 18','Unnamed: 19','Unnamed: 20']

In [ ]:
df1.drop(cols, axis=1, inplace=True)

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
df1.isnull().sum()

In [ ]:
df1.duplicated().sum()

In [ ]:
df1.columns

In [ ]:
df1['gender'].value_counts()

In [ ]:
# changing U for Unspecified
df1['gender']=df1['gender'].str.replace('U','Unspecif')

In [ ]:
df1['gender'].value_counts()

In [ ]:
cust_df=pd.read_excel('KPMG_VI.xlsx', sheet_name='CustomerDemographic')

In [ ]:
cust_df.shape

In [ ]:
cust_df.describe()

In [ ]:
cust_df.head()

In [ ]:
cust_df.columns

In [ ]:
cust_df.isnull().sum()

In [ ]:
cust_df.info()

In [ ]:
cust_df.drop('default', axis=1, inplace=True)

In [ ]:
cust_df.columns

In [ ]:
cust_df.describe()

In [ ]:
cust_df.isnull().sum()

In [ ]:
cust_df.duplicated().sum()

In [ ]:
cust_df['gender'].value_counts()

In [ ]:
cust_df['gender']=cust_df['gender'].replace('F', 'Female').replace('M', 'Male').replace('Femal', 'Female').replace('U', 'Unspecif')

In [ ]:
cust_df['gender'].value_counts()